<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean name="elephant" class="co.pragra.spring.demo.springbasics.game.Elephant"> </bean>

    <bean name = "CharacterRunner" class ="co.pragra.spring.demo.springbasics.game.CharacterRunner" >
        <constructor-arg ref = "elephant"></constructor-arg>
    </bean>

</beans>

